
<div class="aGrid">
  <div class="aBox aaa">&nbsp;</div>
  <div class="aBox aa"></image><h2>About this portal</h2> <p>The Interdisciplinary Earth Data Alliance (IEDA) Data Portal </p>

  </div>
  <div class="aBox bb">
    <image src="images/IEDALogo-WhiteTransparentBackground.png" height=74 width=187/>
  </div>

<!--   <div class="aBox cc">    Just copy and paste the following into your page: <br/>
    <div style='background-color:#CDCDCD; font-family: "Courier"'>
      &#x3C;!-- cinergi search widget --&#x3E; <br/>
      &#x3C;div style=&#x22;width: 250px; height: 150px; background-color: #FFFFFF&#x22;&#x3E;

      <br/>&#x3C;img src=&#x22;http://cinergi.sdsc.edu/assets/img/logo_ww.png&#x22; width=50 height=50&#x3E;
      <br/>&#x3C;img src=&#x22;http://cinergi.sdsc.edu/contribute/recordCount.ashx&#x22;/&#x3E;
      <br/>&#x3C;form  onsubmit=&#x22;window.location.href=&#x27;http://cinergi.sdsc.edu/geoportal/?q=&#x27;+document.getElementById(&#x27;cinergiSearchText&#x27;).value; return false;&#x22;&#x3E;
      <br/>&#x3C;div id=&#x22;cinergi-search-filter&#x22;&#x3E;
      <br/>&#x3C;input type=&#x22;text&#x22; style=&#x22;margin-top:2px; margin-bottom:0px; width:80%; font-size:12&#x22; id=&#x22;cinergiSearchText&#x22; type=&#x22;search&#x22; placeholder=&#x22;SEARCH CINERGI&#x22; &#x3E;
      <br/>&#x3C;img src=&#x22;http://cinergi.sdsc.edu/assets/img/icons/black_search.png&#x22; style=&#x22;right:10px; top:3px; cursor: pointer&#x22;  onClick=&#x22;window.location.href=&#x27;http://cinergi.sdsc.edu/geoportal/?q=&#x27;+document.getElementById(&#x27;cinergiSearchText&#x27;).value; return false;&#x22;&#x3E;
      <br/>&#x3C;/div&#x3E;
      <br/>&#x3C;/form&#x3E;
      <br/>&#x3C;/div&#x3E;
    </div> </div>
  <div class="aBox dd">
    <div >Add the CINERGI search widget to your website!. </div>
    cinergi search widget
    <div style="width: 250px; height: 150px; background-color: #FFFFFF">


      <img src="http://cinergi.sdsc.edu/contribute/recordCount.ashx"/>
      <form  onsubmit="window.location.href='http://cinergi.sdsc.edu/geoportal/?q='+document.getElementById('cinergiSearchText').value; return false;">
        <div id="cinergi-search-filter">
          <input type="text" style="margin-top:2px; margin-bottom:0px; width:80%; font-size:12" id="cinergiSearchText" type="search" placeholder="SEARCH CINERGI" >
          <img src="http://cinergi.sdsc.edu/assets/img/icons/black_search.png" style="right:10px; top:3px; cursor: pointer"  onClick="window.location.href='http://cinergi.sdsc.edu/geoportal/?q='+document.getElementById('cinergiSearchText').value; return false;">
        </div>
      </form>
    </div>


  </div> -->
</div>

