<div data-dojo-attach-point="contentNode">
  <div class="g-search-pane" data-dojo-type="app/search/SearchPane">
    <div class="g-search-pane-left">
      <div data-dojo-type="app/search/PageUrlFilter"></div>
      <div data-dojo-type="app/search/SearchBox"></div>
        <div style="overflow-y: auto;max-height:  90%;">
<div id="infoSearchText">Search facets</div>

       <div  data-dojo-type="app/search/SpatialFilter"
        data-dojo-props="
          field: 'envelope_geo',
          pointField: 'envelope_cen_pt',
          allowAggregation: true,
          open: false,
          label:'${i18n.search.criteria.map}'">
      </div> 

<!-- change from date filter to temporal filter SMR 2017-11-15 
 remove fieldsOperator:'should'-->
      <div data-dojo-type="app/search/TemporalFilter"
           data-dojo-props="
          nestedPath:'timeperiod_nst',
          field:'timeperiod_nst.begin_dt',
          toField:'timeperiod_nst.end_dt',
          interval:'year',
          open:false,
          label:'Acquisition date interval'">
      </div>


     <div data-dojo-type="app/search/TemporalFilter"
           data-dojo-props="
          field:'apiso_PublicationDate_dt',
          interval:'year',
          open:false,
          label:'Publication or release date',
          fieldsOperator: 'must'">
      </div>

<!--  make dataCentre_s when keyword type dataCentre gets populated
was src_source_name_s -->
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
        field:'dataCentre_s',
        label:'Partner system',
        props:{size:40, order:{_term:'asc'}},
        tootip:'Steward for this resource'">
      </div>

      <!-- added by SMR 2017-09-23 -->
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
		field:'cited_individual_s',
		label:'Investigator/Author',
		props:{size:2000, order:{_term:'asc'}},
		tooltip:'Cited originator of content'">
      </div>
      
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
		field:'ieda_data_type_keywords_s',
		label:'IEDA Data Type Categories',
		props:{size:100, order:{_term:'asc'}},
		tooltip:'High level data types from IEDA'">
      </div>
      
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
		field:'feature_of_interest_keywords_s',
		label:'IEDA Feature of Interest',
		props:{size:100, order:{_term:'asc'}},
		tooltip:'Geologic features, feature types and realms'">
      </div>
      
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
		field:'ieda_topic_keywords_s',
		label:'IEDA Topic',
		props:{size:100, order:{_term:'asc'}},
		tooltip:'IEDA Science subject areas'">
      </div>
 
	  <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
		field:'platform_keywords_s',
		label:'Platforms',
		props:{size:1000, order:{_term:'asc'}},
		tooltip:'Observation platform or facility'">
      </div> 
      
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
		field:'instrument_keywords_s',
		label:'Instruments',
		props:{size:1000, order:{_term:'asc'}},
		tooltip:'Instruments or sensors used'">
      </div>
         
  <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
		field:'place_keywords_s',
		label:'Place keywords',
		props:{size:1000, order:{_term:'asc'}},
		tooltip:'As tagged by data provider'">
      </div>       

	  <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
		field:'project_keywords_s',
		label:'Projects, cruises, programs',
		props:{size:1000, order:{_term:'asc'}},
		tooltip:'As tagged by data provider'">
      </div>
      
            
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
		field:'tags_s',
		label:'Other search terms',
		props:{size:200},
		tooltip:'Data type, devices, features, tags from data providers'">
      </div>
      

      <!-- end example hierarchies -->
        </div>
    </div>
    <div class="g-search-pane-right">
      <div data-dojo-type="app/search/AppliedFilters" data-dojo-props="autoExpand:true"></div>
      <div data-dojo-type="app/search/ResultsPane"></div>
    </div>
  </div>    
</div>